body {
  width: 100%;
}

/*header*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #44679E;
  padding: 0 70px;
}

header h1 {
  font-size: 36px;
  color: #fff;
}

header p {
  font-size: 22px;
  color: #fff;
  margin-top: 1rem;
}

header a {
  cursor: pointer;
  text-decoration: none;
}

header i {
  font-size: 22px;
  margin-left: 10px;
  color: #fff;
}

.header__select {
  display: flex;
  flex-direction: column;
}

.header__select a:not(first-of-type) {
  margin-top: 0.5rem;
}

.header__user {
  display: flex;
  align-items: center;
}

.logout {
  display: none;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  color: #44679E;
}

.exit {
  display: block;
}


/*container*/

.container h3 {
  color: #333
}

.container__seat {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__seat {
  flex-direction: column;
}

.container__btn--enter {
  margin-top: 70px;
  margin-bottom: 70px; 
}